body {
    background-color: #141414;
    color: white;
}

.degen {
    position: relative;
    display: block;
    width: 80%;
    margin: 40px auto;
    padding: 40px;
    font-size: 40px;
    text-transform: uppercase;
}

.degen-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    border-radius: 8px;
    background: #333;
    z-index: -1;
}

#degen-girl {
    position: absolute;
    bottom: 0;
    height: 100%;
    z-index: -2;
}
